<div class="side-panel wishlist-drawer" style="z-index:99999;" id="Wishlist-Drawer" tabindex="-1">
    <div class="side-panel-inner">
        <div class="side-panel-header">
            <div>
                <h4>Wishlist</h4>
                <side-panel-close class="side-panel-close">
                    {%- render 'svg-icons' with 'close' -%}
                </side-panel-close>
            </div>
        </div>
        <div class="side-panel-content" id="Wishlist-Drawer-Content">
            {% render 'wishlist' %}
        </div>
    </div>
</div>